footer
	.container
		.social-media
			ul
				li
					img(src="./assets/images/icons/footer-share.svg", alt="")
				li
					.fb-share-button(data-href='http://web4gsolutions.com/', data-layout='button_count', data-size='small')
						a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fweb4gsolutions.com%2F&src=sdkpreparse')
							img(src="./assets/images/icons/footer-facebook.svg", alt="", srcset="")
				li
					img(src="./assets/images/icons/footer-youtube.svg", alt="", srcset="")
		.text-footer
			p Trang này chỉ dành cho người dùng tại Việt Nam.
			p Panadol là nhãn hiệu sở hữu bởi hoặc cấp phép cho Tập đoàn GSK. © 2019,
			p Tập đoàn GSK hoặc bên cấp phép sử dụng nhãn hiệu. Tất cả các quyền được bảo lưu.
		.copy-right
			p Copy right @ 2019  Tập đoàn GSK. All rights reserved.