header
	.container
		.row.no-gutters
			//- .logo
			//- 	a(href="/")
			//- 		img(src="./assets/images/logo.png", alt="", srcset="")
			.button-mobile
				span.line
			.list-nav
				.nav-item#button-to-top
					img.svg(src="./assets/images/icons/home.svg", alt="", srcset="")
				.nav-item
					.link(data-href="#index-1") tết không đau đầu
				.nav-item
					.link(data-href="#index-2") gửi thiệp tân xuân
				//- .nav-item 
				//- 	.link(data-href="#index-4") liên hệ
				.nav-item
					.form-group
						.input-form
							input(type="text")
							.icon
								img.svg(src="./assets/images/icons/search.svg", alt="")
				//- .nav-item
				//- 	.list-language
				//- 		.item.active
				//- 			a(href="#") vie
				//- 		.item
				//- 			a(href="#") elg