header
	.container
		.row.no-gutters
			.button-mobile
				img.svg(src=".//assets/images/icons/button-mobile.svg", alt="", srcset="")
			.list-nav
				.nav-item#button-to-top
					img.svg(src="./assets/images/icons/home.svg", alt="", srcset="")
				.nav-item
					.link.active(data-href="#index-1") tết không đau đầu
				.nav-item
					.link(data-href="#index-2") gửi thiệp tân xuân