block var

doctype html

html(lang="en")
	head
		title #{title}
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
	body
		#fb-root
		#loading
			.logo-loader
			.progstat-wrapper Loading:
				span#progstat 0
				| %
			#progress
		block header
			include _header.pug
		main
			block main
			#js-page-verify(class=bodyClass hidden)
		block footer
			include _footer.pug
		.overlay
		// BLOCK SEND MAIL
		.d-none
			.block-popup#send-mail
				.form-group
					label Tới :
					input.mail_to#formTo(type="text")
				.form-group
					label Tiêu đề :
					input.title-mail#formTitle(type="text")
				.form-group
					label.textarea Nội dung :
					textarea#formContent(name="", cols="30", rows="10")
				.form-group
					button(data-url="#") gửi
				.close-button(data-fancybox-close)
					img(src="./assets/images/icons/close.svg", alt="", srcset="")
		// POPUP THÔNG BÁO
		.d-none
			.block-popup#thong-bao
				h3
				.close-button(data-fancybox-close)
					img(src="./assets/images/icons/close.svg", alt="", srcset="")
		// POPUP VIDEO QUẢNG CÁO
		a.d-none#fancyboxOninit(data-fancybox href="https://www.youtube.com/watch?v=9BUjXZ-zc9k")
		// LINK BASE 64
		a.d-none#download-hidden(href="#" download="happy-new-year.png")
		//FACEBOOK
		script(async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v5.0&appId=774359209430335&autoLogAppEvents=1")
		// ZALO
		script(src="https://sp.zalo.me/plugins/sdk.js")
		// MY JS
		script(type="text/javascript", src="./js/core.min.js")
		script(type="text/javascript", src="./js/main.min.js")
		block scripts