block var

doctype html

html(lang="en")
	head
		title #{title}
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
	body
		#fb-root
		#loading
			.logo-loader
			.progstat-wrapper Loading:
				span#progstat 0
				| %
			#progress
		block header
			include _header.pug
		main
			block main
			#js-page-verify(class=bodyClass hidden)
		block footer
			include _footer.pug
		.overlay
		.d-none
			.block-popup#send-mail
				form(action="#" method="method")
					.form-group
						label Tới :
						input.from(type="text")
					.form-group
						label Tiêu đề :
						input.title-mail(type="text")
					.form-group
						label.textarea Nội dung :
						textarea(name="", cols="30", rows="10")
					.form-group
						button gửi
		a.d-none#fancyboxOninit(data-fancybox href="https://www.youtube.com/watch?v=9BUjXZ-zc9k")
		script(type="text/javascript", src="./js/core.min.js")
		script(type="text/javascript", src="./js/main.min.js")
		block scripts