footer {
	padding   : 50px 0;
	background: #cbcbcb;

	.social-media {
		ul {
			display        : flex;
			justify-content: flex-end;

			li {
				margin-right: 15px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.text-footer {
		text-align: center;

		p {
			font-size: 18px;
			color    : #000000;
		}
	}

	.copy-right {
		margin-top: 50px;
		text-align: center;

		p {
			font-size: 18px;
			color    : #000000;
		}
	}

	@media (max-width: 1024.98px) {
		.social-media {
			margin-bottom: 15px;

			ul {
				justify-content: center;
			}
		}
	}

	@media (max-width: 767.98px) {
		padding: 25px 0;

		.text-footer {
			p {
				font-size: 14px;
			}
		}

		.copy-right {
			margin-top: 25px;

			p {
				font-size: 14px;
			}
		}
	}
}