header {
	position  : fixed;
	top       : 0;
	left      : 0;
	width     : 100%;
	background: rgba($color: #ffffff, $alpha: 1.0);
	z-index   : 100;
	box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
	padding   : 25px 0;

	.logo {
		width: 115px;
	}

	.button-mobile {
		cursor     : pointer;
		position   : relative;
		align-self : center;
		display    : inline-block;
		flex       : 0 0 24px;
		max-width  : 24px;
		height     : 15px;
		display    : none;
		margin-left: auto;

		.line {
			position     : absolute;
			content      : '';
			width        : 100%;
			height       : 2px;
			background   : #170051;
			top          : 1px;
			border-radius: 10px;

			&:after,
			&:before {
				position     : absolute;
				content      : '';
				width        : 100%;
				height       : 2px;
				background   : #170051;
				border-radius: 10px;
			}

			&:after {
				top: 6px;
			}

			&:before {
				top       : 12px;
				transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			}
		}

		&.active {
			.line {
				transform       : translate3d(0, 6px, 0) rotate(135deg);
				transition      : transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
				transition-delay: 0.075s;

				&:after {
					opacity: 0;
				}

				&:before {
					top      : -6px;
					transform: translate3d(0, 6px, 0) rotate(90deg);
				}
			}
		}
	}

	.list-nav {
		display    : flex;
		align-items: center;
		margin-left: auto;

		.nav-item {
			position     : relative;
			cursor       : pointer;
			padding-right: 40px;
			margin-left  : 40px;

			.link {
				display       : inline-block;
				font-size     : 18px;
				font-weight   : 700;
				text-transform: uppercase;
				color         : rgba($color: #000000, $alpha: 1.0);
				transition    : .3s all ease-in-out;
				line-height   : 50px;
				padding       : 0 20px;
				border-radius : 24px;
				user-select   : none;

				&:after {
					content   : '';
					position  : absolute;
					right     : 0;
					width     : 3px;
					height    : 50%;
					top       : 50%;
					background: #7f7f7f;
					transform : translateY(-50%);
				}
			}

			.form-group {
				transition: .5s all ease-in-out;

				.input-form {
					position: relative;

					input {
						width        : 140px;
						border       : 0;
						background   : #dbdbdb;
						line-height  : 73px;
						padding      : 0 70px 0 30px;
						border-radius: 37.2px;
					}

					.icon {
						max-width : 40px;
						max-height: 40px;
						position  : absolute;
						right     : 30px;
						top       : 50%;
						transform : translateY(-50%);

						svg {
							width : 100%;
							height: 100%;
						}
					}
				}
			}

			.list-language {
				display: flex;

				.item {
					color         : #dbdbdb;
					text-transform: uppercase;
					padding-right : 20px;
					margin-right  : 20px;
					border-right  : 1px solid #dedede;

					&.active {
						color: #434444;
					}

					&:last-child {
						border-right : 0;
						margin-right : 0;
						padding-right: 0;
					}
				}
			}

			svg {
				path {
					fill: #7f7f7f;
				}
			}

			&:last-child,
			&:nth-child(2) {
				margin-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}

			&:hover {
				.link {
					color     : #ffffff;
					background: #e21932;
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		padding: 30px 0;

		.logo {
			width: 80px;
		}

		.button-mobile {
			display: block;
		}

		.list-nav {
			position      : absolute;
			width         : 70%;
			height        : 100vh;
			top           : 75px;
			left          : -100%;
			flex-direction: column;
			padding-top   : 50px;
			background    : #ffffff;
			transition    : .3s all ease-in-out;

			.nav-item {
				margin-bottom: 50px;
				padding-right: 0;
				margin-right : 0;
				margin-left  : 0;

				.link {
					&:after {
						content: none;
					}
				}

				.form-group {
					.input-form {
						input {
							width: 100%;
						}
					}
				}
			}

			&.active {
				left: 0;
			}
		}
	}

	@media (max-width: 767.98px) {
		padding: 15px 0;

		.list-nav {
			padding-top: 25px;
			top        : 45px;

			.nav-item {
				margin-bottom: 25px;

				.link {
					font-size: 14px;
				}

				.form-group {
					.input-form {
						width : 80%;
						margin: 0 auto;

						input {
							line-height: 40px;
						}

						.icon {
							max-width: 20px;
						}
					}
				}

				.list-language {
					.item {
						font-size: 14px;
					}
				}
			}
		}
	}
}