.index-1 {
	img {
		width: 100%;
	}
}

.index-2 {
	background-image : url(../assets/images/background/bg-index-2.png);
	background-size  : cover;
	background-repeat: no-repeat;
	width            : 100%;
	height           : 1080px;
	padding-top      : 35px;

	.block-section {
		position  : relative;
		width     : 100%;
		margin-top: 45px;
		padding   : 30px;
		background: #7f010f;

		&:after {
			content       : '';
			position      : absolute;
			pointer-events: none;
			top           : -20px;
			left          : -20px;
			right         : -20px;
			bottom        : -20px;
			border        : 10px solid #7f010f;
		}
	}

	.list-task {

		h3 {
			font-size     : 18px;
			color         : #ffffff;
			text-align    : center;
			text-transform: uppercase;
			margin-bottom : 20px;
		}

		.choose-image {
			.list-item {
				display  : flex;
				flex-wrap: wrap;
				margin   : 0 -10px;

				.item {
					cursor       : pointer;
					flex         : 0 0 50%;
					max-width    : 50%;
					padding      : 0 10px;
					margin-bottom: 20px;
					user-select  : none;

					figure {
						border-radius: 3px;
						overflow     : hidden;
						border       : 3px solid transparent;
					}

					&:nth-last-child(1),
					&:nth-last-child(2) {
						margin-bottom: 0;
					}

					&.checked {
						figure {
							border: 3px solid #ffe618;
						}
					}
				}
			}
		}

		.result {

			.slider-choose-card {
				position     : relative;
				margin-top   : 35px;
				margin-bottom: 25px;
				padding      : 0 35px;

				figure {
					cursor       : pointer;
					position     : relative;
					height       : 75px;
					background   : #e11931;
					border-radius: 3px;
					overflow     : hidden;
					border       : 2px solid transparent;

					img {
						position : absolute;
						width    : 70%;
						top      : 50%;
						left     : 50%;
						transform: translate(-50%, -50%);
					}

					&.checked {
						border: 2px solid #ffe618;
					}
				}

				.swiper-button-prev {
					left: 0;

					&:after {
						content          : '';
						background-image : url(../assets/images/icons/prev-choose-img.svg);
						background-repeat: no-repeat;
						background-size  : cover;
						width            : 25px;
						height           : 25px;
					}
				}

				.swiper-button-next {
					right: 0;

					&:after {
						content          : '';
						background-image : url(../assets/images/icons/next-choose-img.svg);
						background-repeat: no-repeat;
						background-size  : cover;
						width            : 25px;
						height           : 25px;
					}
				}
			}

			.result-choose-img {
				padding: 0 45px;

				figure {
					position: relative;

					.block-img {
						overflow     : hidden;
						border-radius: 3px;
						border       : 3px solid #ffe618;
					}

					figcaption {
						position : absolute;
						top      : 50%;
						left     : 50%;
						transform: translate(-50%, -50%);

						p {
							color: #000000;
						}
					}
				}
			}
		}

		.block-write-content {
			.write-content {
				background   : #ffffff;
				padding      : 45px 25px;
				border-radius: 3px;
				border       : 3px solid #ffe618;

				.choose-to-write {
					background   : #faffa9;
					padding      : 15px;
					margin-bottom: 30px;

					.item {
						font-size    : 14px;
						position     : relative;
						padding-left : 25px;
						margin-bottom: 20px;
						cursor       : pointer;
						user-select  : none;

						&:after {
							content      : '';
							position     : absolute;
							width        : 13px;
							height       : 13px;
							border-radius: 50%;
							left         : 0;
							top          : 5px;
							background   : #ffffff;
						}

						&.checked {
							&:before {
								content      : '';
								position     : absolute;
								width        : 9px;
								height       : 9px;
								border-radius: 50%;
								top          : 7px;
								left         : 2px;
								background   : #7c010f;
								z-index      : 10;
							}
						}

						&:last-child {
							margin-bottom: 0;
						}
					}
				}

				.write {
					.form-group {
						position  : relative;
						height    : 165px;
						padding   : 25px 25px 35px 25px;
						background: #e8e8e8;

						textarea {
							font-size : 14px;
							width     : 100%;
							height    : 100%;
							border    : none;
							width     : 100%;
							resize    : none;
							background: transparent;
						}

						.list-bottom {
							position       : absolute;
							display        : flex;
							align-items    : center;
							justify-content: space-between;
							width          : 100%;
							bottom         : 10px;
							left           : 0;
							padding        : 0 25px;

							.background {
								display    : flex;
								align-items: center;

								span {
									cursor       : pointer;
									display      : inline-block;
									width        : 15px;
									height       : 15px;
									border-radius: 50%;
									margin-right : 5px;
									border       : 2px solid transparent;

									&:first-child {
										background: #000000;
									}

									&:last-child {
										background: #ffffff;
									}

									&.checked {
										border: 2px solid #ffe618;
									}
								}
							}

							.count-characters {
								position     : relative;
								padding-right: 20px;

								p {
									font-size: 12px;
								}

								&:after {
									content         : '';
									position        : absolute;
									width           : 10px;
									height          : 10px;
									right           : 0;
									top             : 50%;
									transform       : translateY(-50%);
									background-image: url(../assets/images/icons/write.svg);
									background-size : cover;
								}
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		display: none;
	}
}

.index-3 {
	.swiper-slide {
		@media (max-width: 1024.98px) {
			height : auto;
			display: flex;

			.block-item-1 {
				height: auto;
				width : 100%;

				.video {
					flex     : 0 0 100%;
					max-width: 100%;
				}
			}
		}
	}

	.block-item-1 {
		position         : relative;
		background       : url(../assets/images/background/bg-index-3.png);
		background-size  : cover;
		background-repeat: no-repeat;
		height           : 100vh;

		.video {
			@media (min-width: 1025px) {
				position : absolute;
				top      : 50%;
				left     : 50%;
				transform: translate(-50%, -50%);
				width    : 1180px;
				height   : 660px;
				z-index  : 2;
			}
		}

		@media (max-width: 1440px) {
			.video {
				width : 100%;
				height: 100%;
			}
		}
	}

	.block-item-2 {
		.home-banner {
			height  : 100vh;
			position: relative;

			.item-banner {
				position: absolute;
				bottom  : 0;
				left    : 85px;

				@media (max-width: 1440px) {
					img {
						width: 80%;
					}
				}

				@media (max-width: 1024.98px) {
					left: 25px;

					img {
						width: 50%;
					}
				}

				@media (max-width: 767.98px) {
					img {
						width: 45%;
					}
				}
			}

			@media (max-width: 1024.98px) {
				height: 100%;
			}
		}
	}

	.swiper-button-prev {
		left: 75px;

		@media (max-width: 1024.98px) {
			left: 15px;
		}
	}

	.swiper-button-next {
		right: 75px;

		@media (max-width: 1024.98px) {
			right: 15px;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		color: white;

		@media (max-width: 767.98px) {
			display: none;
		}
	}
}

.index-4 {
	padding: 50px 0;

	h3 {
		color         : #e11931;
		font-size     : 55px;
		font-weight   : 700;
		text-transform: uppercase;
		margin-bottom : 60px;
	}

	.block-form {
		.form-row {
			display     : flex;
			flex-wrap   : wrap;
			margin-left : -15px;
			margin-right: -15px;

			.form-group {
				margin-bottom: 30px;

				.form-input {
					input {
						color        : #e11931;
						width        : 100%;
						border       : 2px solid #e11931;
						border-radius: 32.5px;
						line-height  : 61px;
						padding      : 0 40px;

						&::placeholder {
							color: #e11931;
						}
					}
				}

				button {
					position       : relative;
					display        : flex;
					align-items    : center;
					justify-content: center;
					width          : 50%;
					margin-top     : 30px;
					line-height    : 65px;
					border-radius  : 32.5px;
					background     : #e11931;
					border         : none;
					color          : #ffffff;
					text-transform : uppercase;
					font-weight    : 700;

					h5 {
						font-size   : 18px;
						margin-right: 15px;
					}

					svg {
						width: 25px;

						path {
							fill: #ffffff;
						}
					}
				}
			}
		}
	}

	.block-info {
		display     : flex;
		flex-wrap   : wrap;
		padding-left: 30px;

		.image {
			flex     : 0 0 115px;
			max-width: 115px;

			img {
				width : 100%;
				height: 115px;
			}
		}

		.list-text {
			flex-basis  : 0;
			flex-grow   : 1;
			max-width   : 100%;
			padding-left: 15px;

			ul {
				li {
					font-weight: 700;
					color      : #e11931;
					font-size  : 28px;

					&:last-child {
						margin-top: 25px;
					}
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		h3 {
			text-align   : center;
			font-size    : 32px;
			margin-bottom: 25px;
		}

		.block-form {
			.form-row {
				.form-group {
					margin-bottom: 15px;

					button {
						margin-top: 15px;
						width     : 30%;
					}
				}
			}
		}

		.block-info {
			padding-left: 0;
			margin-top  : 25px;

			.list-text {
				ul {
					li {
						font-size: 24px;

						&:last-child {
							margin-top: 15px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		padding: 25px 0;

		h3 {
			font-size    : 24px;
			margin-bottom: 15px;
		}

		.block-form {
			.form-row {
				.form-group {
					margin-bottom: 10px;

					.form-input {
						input {
							font-size  : 14px;
							line-height: 45px;
							border     : 1px solid #e11931;
						}
					}

					button {
						line-height: 45px;

						h5 {
							font-size: 14px;
						}

						svg {
							width: 20px;
						}
					}
				}
			}
		}

		.block-info {
			margin-top: 15px;

			.image {
				flex     : 0 50px;
				max-width: 50px;

				img {
					width : 50px;
					height: 50px;
				}
			}

			.list-text {
				ul {
					li {
						font-size: 14px;

						&:last-child {
							margin-top: 0;
						}
					}
				}
			}
		}
	}
}