doctype html

html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Nhận thiệp
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
	body
		#loading
			.logo-loader
			.progstat-wrapper Loading:
				span#progstat 0
				| %
			#progress
		section.nhan-thiep
			.container
				.title
					img.ofc(src="./assets/images/background/bg-title.png", alt="", srcset="")
					h2 Tết Để Vui Sao Phải Nhức Đầu
				.block-nhan-thiep
					.card.wow.bounce(data-wow-iteration="100")
						.icon
							img(src="./assets/images/background/bia-thiep.png", alt="", srcset="")
				.block-img-final
					img.ofc(src="./assets/images/happy-new-year.png", alt="", srcset="")
				.action
					h2 Click để mở thiệp !!!
		script(type="text/javascript", src="./js/core.min.js")
		script(type="text/javascript", src="./js/main.min.js")