.index-1#index-1
	.pc
		img.lazyload(data-src="./assets/images/background/bg-index-1.gif", alt="", srcset="")
	.mobile
		img.lazyload(data-src="./assets/images/background/bg-index-1-mobile.gif", alt="", srcset="")