.index-1#index-1
	.pc
		video(autoplay loop)
			source(src="./assets/images/background/bg-index-1.mp4")
	.mobile
		video(autoplay loop)
			source(src="./assets/images/background/bg-index-1-mobile.mp4")