.index-2#index-2
	.container
		.title
			img.ofc.lazyload(data-src="./assets/images/background/bg-title.png", alt="", srcset="")
			h2 gửi thiệp tân xuân
		.block-section
			//- BƯỚC 1
			.step-1
				.row.list-task
					.result.col-lg-8
						.result-img
							figure#img-final
								.block-img
									img.ofc(src="./assets/images/background/bg-content.png", alt="", srcset="")
								figcaption
									p
						.list-step
							.button-next-step
								span gửi thiệp
								img.lazyload(data-src="./assets/images/icons/arrow-next-step.svg", alt="", srcset="")
					.block-write-content.col-lg-4
						h3 chọn câu chúc có sẵn
						.write-content
							.choose-to-write
								.item.checked  Vạn Sự Như Ý, Phát Tài Phát Lộc
								.item Canh Tý Sum Vầy, An Lành Trọn Năm
									br
									| Phát Tài, Phát Lộc, Phát Tình Duyên
								.item Năm mới Tết đến – Rước hên vào nhà – Quà cáp bao la – Mọi nhà no đủ
								.item Năm Mới Cung Chúc: Sức Khỏe Dồi Dào, Vạn Sự Như Ý
								.item  An Nhiên Hưởng Tết, Không Lo Nhức Đầu
							h3 tự tạo câu chúc
							.write
								.form-group
									textarea(maxlength="50")
									.list-bottom
										.color-content
											span.checked
											span(data-bg="white")
										.count-characters
											p Tối đa 
												span 50 
												| ký tự
			//- BƯỚC 2
			.step-2
				figure
					img.ofc(src="./assets/images/background/step-2.png", alt="", srcset="")
				.title-step-2 gửi tặng bánh ngay
				.list-share-social-media
					.item.facebook(data-provider="facebook" data-url="#")
						img.svg(src="./assets/images/icons/facebook.svg", alt="", srcset="")
						h5 chia sẻ ngay
					.item.messenger(data-provider="messenger" data-url="#")
						img.svg(src="./assets/images/icons/messenger.svg", alt="", srcset="")
						h5 chia sẻ ngay
					.item.zalo(data-provider="zalo" data-url="#")
						img.lazyload(data-src="./assets/images/icons/zalo.png", alt="", srcset="")
						h5 chia sẻ ngay
					.item.mail(data-provider="sendMail" data-fancybox data-src="#send-mail")
						img.svg(src="./assets/images/icons/mail.svg", alt="", srcset="")
						h5 chia sẻ ngay
					.item.download(data-provider="download")
						img.svg(src="./assets/images/icons/download.svg", alt="", srcset="")
						h5 tải về máy
				.list-step
					.button-prev-step
						img.lazyload(data-src="./assets/images/icons/arrow-prev-step.svg", alt="", srcset="")
						span trở về
		.number-step
			.number-step-1
				img.lazyload(data-src="./assets/images/icons/step-1.png", alt="", srcset="")
			.number-step-2
				img.lazyload(data-src="./assets/images/icons/step-2.png", alt="", srcset="")