.index-3#index-3
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.block-item
					img.pc.ofc(src="./assets/images/background/item-slider-1.png", alt="", srcset="")
					img.mobile.ofc(src="./assets/images/background/item-slider-1-mobile.png", alt="")
			.swiper-slide
				.block-item
					img.pc.ofc(src="./assets/images/background/item-slider-2.png", alt="")
					img.mobile.ofc(src="./assets/images/background/item-slider-2-mobile.png", alt="")
			.swiper-slide
				.block-item
					a.fancyboxOninit(data-fancybox href="https://www.youtube.com/watch?v=9BUjXZ-zc9k")
						img.pc.ofc(src="./assets/images/background/item-slider-3.png", alt="")
						img.mobile.ofc(src="./assets/images/background/item-slider-3-mobile.png", alt="")
		.swiper-button-prev
		.swiper-button-next