.index-3#index-3
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.block-item-1
					a.fancyboxOninit(data-fancybox href="https://www.youtube.com/watch?v=9BUjXZ-zc9k")
						figure
							img.ofc(src="./assets/images/background/thumbnail-video.png", alt="")
			.swiper-slide
				.block-item-2
					.home-banner
						img.ofc(src="./assets/images/background/item-slider.png", alt="", srcset="")
						.item-banner
							img(src="./assets/images/background/item-in-banner.png", alt="", srcset="")
		.swiper-button-prev
		.swiper-button-next