.index-3#index-3
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.block-item-1
					.video
						video(muted controls loop width="100%" height="100%")
							source(src="./assets/videos/video.mp4")
			.swiper-slide
				.block-item-2
					.home-banner
						img.ofc(src="./assets/images/background/item-slider.png", alt="", srcset="")
						.item-banner
							img(src="./assets/images/background/item-in-banner.png", alt="", srcset="")
		.swiper-button-prev
		.swiper-button-next