.index-4#index-4
	.container
		h3 liên hệ với chúng tôi
		.row
			.col-lg-6
				.block-form
					.form-row
						.form-group.col-lg-6
							.form-input
								input#name(type="text" placeholder="Họ và Tên")
						.form-group.col-lg-6
							.form-input
								input#email(type="email" placeholder="Email")
						.form-group.col-lg-6
							.form-input
								input#phone(type="text" placeholder="SĐT")
						.form-group.col-lg-6
							.form-input
								input#content(type="text" placeholder="Nội Dung")
							button(data-url="/")
								h5 gửi
								img.svg(src="./assets/images/icons/arrow.svg", alt="", srcset="")
			.col-lg-6
				.block-info
					.image
						img.lazyload(data-src="./assets/images/icons/phone.png", alt="")
					.list-text
						ul
							li
								a(href="tel: 12032325") VNPT: 12032325 (miễn phí)
							li
								a(href="tel: 12280189") Viettel: 12280189 (miễn phí)
							li
								a(href="mailto: vn.customer-relations@gsk.com") Email : vn.customer-relations@gsk.com
